.grid__align {
    padding: 2rem 0;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grid__align h2 {
    text-align: center; 
    font-size: 20px;
}

.grid__container {
    width: 80vw;
    height: 30rem;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 5px 10px 2px grey;
    background: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: .1rem;
    object-fit: cover;
}

.grid__items {
    opacity: 80%;
    
}

.grid__items:nth-child(1) {
    grid-column: 1;
    background: url("img/dogs.png") no-repeat center;
    background-size: 100%;
    opacity: 100%;
}

.grid__items:nth-child(2) {
    grid-column: 2;
    background: url("img/cat.webp") no-repeat center;
    background-size: 100%;
}

.grid__items:nth-child(3) {
    grid-column: 3;
    background: url("img/dog-women.jpg") no-repeat center;
    background-size: 120%;
}

.grid__items:nth-child(4) {
    grid-column: 4;
    background: url("img/cat-women.jpg") no-repeat center;
    background-size: 100%;
}

.grid__items:nth-child(5) {
    grid-row: 4;
    grid-column: 5;
    background: url("img/dog2.jpg") no-repeat center;
    background-size: 120%;
}

.grid__items:hover {
    opacity: 100%;
}
