.sobre__container {
    width: 60vw;
    height: 15rem;
    margin: 0 auto;
}

.sobre__container h2 {
    text-align: center;
    margin: 2rem auto;

    font-size: 34px;
}

.sobre__container p {
    text-align: center;
    margin: 2rem auto;

    font-size: 18px;
}



